.bg-black{
    background-color: black;
}
.kanit{
    font-family: 'Kanit', sans-serif;
}
.editor-color{
    background-color: #0E1112;
}
.example-code{
    
}
.margin-2{
    margin: 20px;
}
.bg-purple{
    background-color: blueviolet;
}